---
import ImageMod from "@/components/ImageMod.astro";
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  content: CollectionEntry<"blog">;
};

const { content } = Astro.props;
const { title, author, date, image } = content.data;
const { blog_folder } = config.settings;
---

<div
  class="border group bg-white border-border rounded-md relative overflow-hidden">
  {
    image && (
      <a
        href={`/${blog_folder}/${content.id}`}
        class="overlay after:opacity-0  group-hover:after:opacity-100 after:duration-300">
        <ImageMod
          src={image}
          width={400}
          height={240}
          class="w-full"
          alt={title}
        />
      </a>
    )
  }
  <div class="flex">
    {
      date && (
        <div class="flex flex-col flex-wrap justify-center items-center px-6 py-5 border-e border-border">
          <span
            class="text-primary font-medium text-3xl"
            set:html={dateFormat(date, "dd")}
          />
          <span set:html={dateFormat(date, "MMM")} />
        </div>
      )
    }
    <div class="p-5 w-full">
      <h3 class="h5">
        <a
          href={`/${blog_folder}/${content.id}`}
          set:html={markdownify(title)}
        />
      </h3>
      <p class="text-text-dark/70">
        By
        <a
          href={`/authors/${slugify(author)}`}
          class="capitalize text-text-dark"
          set:html={humanize(author)}
        />
      </p>
    </div>
  </div>
</div>
