---
import ImageMod from "@/components/ImageMod.astro";
import Accordion from "@/helpers/Accordion";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  content: CollectionEntry<"missionVisionSection">["data"];
};

const { content } = Astro.props;
const { enable, subtitle, title, content: data, accordion, image } = content;
---

{enable && (
  <section class="section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-12 mb-5">
          {subtitle && (
            <span
              class="text-lg text-text"
              set:html={markdownify(subtitle)}
            />
          )}
          {title && <h2 set:html={markdownify(title)} />}
          <div class="separator separator-secondary after:shadow-white after:bg-white" />
        </div>

        <div class="lg:col-6">
          {data && <p class="mb-10" set:html={markdownify(data)} />}
          {accordion &&
            accordion.map((item, index) => {
              if (!item || !item.title) return null;
              return (
                <Accordion
                  client:visible
                  active={index === 0}
                  title={item.title}
                  index={`${index}`}
                >
                  {item.description}
                </Accordion>
              );
            })}
        </div>

        <div class="lg:col-6 p-0">
  {image && (
    <ImageMod
      src={image}
      width={700}
      height={700}
      alt={title || "mission image"}
      class="w-full h-full object-cover rounded-xl shadow-lg border border-gray-300"
    />
  )}
</div>

          )}
        </div>
      </div>
    </div>
  </section>
)}
