---
import BlogCard from "@/components/BlogCard.astro";
import ImageMod from "@/components/ImageMod.astro";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify, slugify } from "@/lib/utils/textConverter";
import { render } from "astro:content";

export async function getStaticPaths() {
  const COLLECTION_FOLDER = "authors";
  const authors = await getSinglePage(COLLECTION_FOLDER);

  const paths = authors.map((author) => ({
    params: {
      single: author.id,
    },
    props: { author },
  }));
  return paths;
}

const { author } = Astro.props;
const { title, meta_title, description, image, social } = author.data;
const { Content } = await render(author);

const BLOG_FOLDER = "blog";
const posts = await getSinglePage(BLOG_FOLDER);
const postFilterByAuthor = posts.filter(
  (post) => slugify(post.data.author) === slugify(title)
);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}>
  <section class="section">
    <div class="container">
      <div class="row justify-center pb-14">
        <div class="text-center lg:col-10">
          {
            image && (
              <ImageMod
                src={image}
                class="mx-auto mb-10 max-w-[100px] rounded-full"
                height={200}
                width={200}
                alt={title}
              />
            )
          }
          {
            title && (
              <h1 class="h3 mb-6 font-medium" set:html={markdownify(title)} />
            )
          }
          <hr class="text-border" />
          {
            author.body && (
              <div class="content py-4">
                <Content />
              </div>
            )
          }
          <hr class="text-border" />
          <Social
            source={social}
            className="social-icons social-icons-dark mt-6"
          />
        </div>
      </div>

      {
        title && (
          <h2
            class="text-center"
            set:html={`Posted By ${markdownify(title)}`}
          />
        )
      }
      <div class="separator"></div>
      <div class="row justify-center gy-4 pt-14">
        {
          postFilterByAuthor.map((post) => (
            <div class="md:col-6 lg:col-4">
              <BlogCard content={post} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
