---
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";
import PostSidebar from "@/partials/PostSidebar.astro";

export async function getStaticPaths() {
  const BLOG_FOLDER = "blog";
  const categories = await getTaxonomy(BLOG_FOLDER, "categories");

  return categories.map(({ name, slug }) => {
    return {
      params: { category: slug },
      props: { category: { name, slug } },
    };
  });
}

const BLOG_FOLDER = "blog";
const { category } = Astro.params;
const {
  category: { name },
} = Astro.props;
const posts = await getSinglePage(BLOG_FOLDER);
const filterByCategories = taxonomyFilter(posts, "categories", category!);

const allCategories = await getAllTaxonomy(BLOG_FOLDER, "categories");
const categories = await getTaxonomy(BLOG_FOLDER, "categories");
const tags = await getTaxonomy(BLOG_FOLDER, "tags");
const sortedPosts = sortByDate(posts);
---

<Base title={name}>
  <PageHeader title={name} />
  <div class="container">
    <div class="row lg:gx-6">
      <!-- blog posts -->
      <div class="lg:col-8">
        <div class="section max-lg:pb-0">
          <div class="row g-4">
            {
              filterByCategories.map((post) => (
                <div class="md:col-6">
                  <BlogCard content={post} />
                </div>
              ))
            }
          </div>
        </div>
      </div>

      <!-- sidebar -->
      <PostSidebar
        categories={categories}
        tags={tags}
        allCategories={allCategories}
        sortedPosts={sortedPosts}
        class="section-md lg:section lg:shadow-[-8px_0px_10px_0px] lg:shadow-[#bcbcbd]/10"
      />
    </div>
  </div>
</Base>
