---
import config from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { contact_form_action } = config.params;
const contactIndex = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { title, meta_title, description, image, bg_image, contact_info } =
  contactIndex.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}>
  <PageHeader title={title} meta_title={title} bg_image={bg_image} />
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="lg:col-4 lg:offset-1 md:col-5">
          <h2 class="h3 mb-8" set:html="Contact Us" />

          {
            contact_info && (
              <ul class="pl-0">
                {contact_info.map((info) => {
                  const { name, icon, content } = info;

                  return (
                    <li class="flex mb-8">
                      <span
                        class={`mr-4${
                          icon ? ` ${icon}` : ""
                        } h-[50px] xl:h-[70px] min-w-[50px] max-w-[50px] xl:min-w-[70px] xl:max-w-[70px] border border-border text-center leading-[50px] xl:leading-[70px] text-2xl xl:text-3xl text-primary inline-block rounded-full border-solid`}>
                        <span class="sr-only" set:html={name} />
                        <DynamicIcon className="inline-block" icon={icon} />
                      </span>
                      <div class="self-center font-primary">
                        <div
                          class="text-text-dark"
                          set:html={markdownify(content)}
                        />
                      </div>
                    </li>
                  );
                })}
              </ul>
            )
          }
        </div>
        <div class="lg:col-6 md:col-7">
          <div class="p-5 md:p-10 rounded shadow">
            <form method="post" action={contact_form_action} class="row g-3">
              <div class="lg:col-6">
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-input"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="lg:col-6">
                <input
                  type="email"
                  class="form-input"
                  name="email"
                  id="email"
                  placeholder="Email Address"
                  required
                />
              </div>
              <div class="lg:col-12">
                <input
                  type="text"
                  name="subject"
                  id="subject"
                  class="form-input"
                  placeholder="Subject"
                  required
                />
              </div>
              <div class="lg:col-12">
                <textarea
                  class="form-input"
                  name="message"
                  id="message"
                  placeholder="Your Message Here..."
                  required
                  style="height: 150px;"></textarea>
              </div>
              <div class="lg:col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {
    config.params.google_map &&
      config.params.google_map.enable &&
      config.params.google_map.address && (
        <section>
          <iframe
            style="height:400px;width:100%;border:0;"
            src={config.params.google_map.address}
            title="google map"
          />
        </section>
      )
  }
</Base>
