---
import config from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { contact_form_action } = config.params;
const contactIndex = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { title, meta_title, description, image, bg_image, contact_info } =
  contactIndex.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}>
<PageHeader title="Contact Us" bg_image="/images/contact.png" />

  <section class="section">
    <div class="container">
      <!-- Bloque superior de ubicación y contacto -->
      <div class="text-center mb-12">
        <p class="text-lg text-primary font-semibold">Let's Connect</p>
        <h2 class="text-2xl font-bold text-text mb-2">
          Apache Fabricators’ Facility Is Conveniently Located In The Houston Area.
        </h2>
        <p class="text-base text-text">
          8101 E Mt Houston Rd. Houston, TX 77050 <br />
          (60,000 Sq. Ft. Fabrication Shop With 13.0 Acres Yard)
        </p>
      </div>

      <!-- Tarjetas de contacto -->
      {
        contact_info && (
          <div class="grid md:grid-cols-3 gap-6 mb-16">
            {contact_info.map((info) => {
              const { name, icon, content } = info;

              return (
                <div class="p-6 shadow-lg rounded text-center border border-gray-200 bg-white">
                  <div class="flex justify-center items-center mb-4">
                    <div class="text-white bg-red-700 rounded-full w-12 h-12 flex items-center justify-center text-xl">
                      <DynamicIcon icon={icon} />
                    </div>
                  </div>
                  <div class="text-text-dark text-sm" set:html={markdownify(content)} />
                </div>
              );
            })}
          </div>
        )
      }
    </div>
  </section>

{
  config.params.google_map &&
  config.params.google_map.enable &&
  config.params.google_map.address && (
    <section class="flex flex-wrap w-full h-[500px] mt-8 gap-0">
      {/* Satellite Static Image */}
      <div class="w-full md:w-1/2 h-full overflow-hidden rounded-none md:rounded-l-lg">
        <img
          src="/images/apache_satellite.png"
          alt="Satellite view of Apache Workforce"
          class="w-full h-full object-contain"
        />
      </div>

      {/* Embedded Google Map */}
      <div class="w-full md:w-1/2 h-full overflow-hidden rounded-none md:rounded-r-lg">
        <iframe
          title="Google Map"
          loading="lazy"
          allowFullScreen
          class="w-full h-full"
          src={config.params.google_map.address}
        />
      </div>
    </section>
  )
}

</Base>
