---
import config from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { contact_form_action } = config.params;
const contactIndex = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { title, meta_title, description, image, bg_image, contact_info } =
  contactIndex.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}>
  <PageHeader title={title} meta_title={title} bg_image={bg_image} />

  <section class="section">
    <div class="container">
      <!-- Bloque superior de ubicación y contacto -->
      <div class="text-center mb-12">
        <p class="text-lg text-primary font-semibold">Let's Connect</p>
        <h2 class="text-2xl font-bold text-text mb-2">
          Apache Fabricators’ Facility Is Conveniently Located In The Houston Area.
        </h2>
        <p class="text-base text-text">
          8101 E Mt Houston Rd. Houston, TX 77050 <br />
          (60,000 Sq. Ft. Fabrication Shop With 13.0 Acres Yard)
        </p>
      </div>

      <!-- Tarjetas de contacto -->
      {
        contact_info && (
          <div class="grid md:grid-cols-3 gap-6 mb-16">
            {contact_info.map((info) => {
              const { name, icon, content } = info;

              return (
                <div class="p-6 shadow-lg rounded text-center border border-gray-200 bg-white">
                  <div class="flex justify-center items-center mb-4">
                    <div class="text-white bg-red-700 rounded-full w-12 h-12 flex items-center justify-center text-xl">
                      <DynamicIcon icon={icon} />
                    </div>
                  </div>
                  <div class="text-text-dark text-sm" set:html={markdownify(content)} />
                </div>
              );
            })}
          </div>
        )
      }
    </div>
  </section>

  {
    config.params.google_map &&
      config.params.google_map.enable &&
      config.params.google_map.address && (
        <section>
          <iframe
            style="height:400px;width:100%;border:0;"
            src={config.params.google_map.address}
            title="google map"
          />
        </section>
      )
  }
</Base>
