---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import ProjectSidebar from "@/partials/ProjectSidebar.astro";
import { render, type CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">;
};
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "projects";
  const projectsCollection = await getSinglePage(COLLECTION_FOLDER);

  const paths = projectsCollection.map((project) => ({
    params: {
      single: project.id,
    },
    props: { project },
  }));
  return paths;
}

const { project } = Astro.props;
const { data, body } = project;
const { title, meta_title, description, image, bg_image } = data;
const { Content } = await render(project);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}>
  <PageHeader title={title} bg_image={bg_image} />

  <section class="section">
    <div class="container">
      <div class="row gy-5 flex-col-reverse lg:flex-row">
        <ProjectSidebar content={project} />
        <article class="lg:col-8">
          {
            image && (
              <ImageMod
                src={image}
                width={900}
                height={500}
                class="w-full mb-8 md:mb-16 rounded-md max-h-[500px] object-cover object-top"
                alt="service"
              />
            )
          }
          {
            body && (
              <div class="content">
                <Content />
              </div>
            )
          }
        </article>
      </div>
    </div>
  </section>
</Base>
